<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>PTAH SHOP</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

    <script src="https://kit.fontawesome.com/e6c8e2293e.js" crossorigin="anonymous"></script>
    </head>
    
    <body>

<body>

  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="img/logo-removebg-preview.png" width="150px" height="150px">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#" class="active">Trang Chủ</a></li>
                        <li class="submenu">
                            <a href="#men">Men's</a>
                            <ul>
                                <li><a href="products.html">Áo Polo</a></li>
                                <li><a href="products.html">Áo Sơ Mi</a></li>
                                <li><a href="products.html">Áo Thun</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Trang</a>
                            <ul>
                                <li><a href="about.html">Về Chúng Tôi</a></li>
                                <li><a href="products.html">Sản phẩm</a></li>
                                <li><a href="contact.html">Liên Hệ Chúng Tôi</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><input type="text" class="seach"></a></li>
                        <li><a href="#" type="seach"><i class="fa-brands fa-searchengin"></i></a></li>
                        <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
    <div class="title-box">
        <div class="all-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Giỏ Hàng</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Cửa Hàng</a></li>
                            <li class="breadcrumb-item active">Giỏ Hàng</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ảnh</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>Giá Tiền Sản Ph</th>
                                        <th>Số Lượng Sản Phẩm</th>
                                        <th>Tổng Tiền</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                        <img class="img-fluid" src="img/aopolo.webp" alt="" />
                                    </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="single-product.html">
                                            Áo polo 14ATP004
                                    </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>450.000 <u>đ</u></p>
                                        </td>
                                        <td class="quantity buttons_added"><input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus"></td>
                                        <td class="total-pr">
                                            <p>450.000 <u>đ</u></p>
                                        </td>
                                        <td class="remove-pr">
                                            <a href="#">
                                        <i class="fas fa-times"></i>
                                    </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-lg-8 col-sm-12"></div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="order-box">
                            <h3>Hóa Đơn</h3>
                            <div class="d-flex gr-total">
                                <h5>Tổng Tiền</h5>
                                <div class="ml-auto h5">499.000 <u>đ</u></div>
                            </div>
                            <div class="button">
                                <input class="button-submit" value="Thanh Toán" type="submit">
                            </div>
                            <hr> </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="img/logo.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">Số 1 Trịnh Văn Bô Nam Từ Niêm Hà Nội</a></li>
                            <li><a href="#">info@fpt.edu.vn</a></li>
                            <li><a href="#">0123456789</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Mua sắm &amp; Danh mục</h4>
                    <ul>
                        <li><a href="#">Áo Polo</a></li>
                        <li><a href="#">Áo Sơ Mi</a></li>
                        <li><a href="#">Áo Thun</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="about.html">Về Chúng Tôi</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Liên Hệ Chúng Tôi</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Trợ giúp &amp; Thông tin</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                        <li><a href="#">Giao Hàng</a></li>
                        <li><a href="#">ID Theo Dõi</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2023 Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    <script src="assets/js/quantity.js"></script>
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });
        const productColor = document.querySelector('input[name="color"]:checked').value; 
    </script>

</body>

</html>
